* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    padding: 0px 150px;
    position: relative;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;
}

*::selection {
    background-color: #f2d16d;
    color: #121212;
}

.info {
    background-color: #1e1e1f;
    position: fixed;
    bottom: 10px;
    top: 30px;
    left: 10%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    outline: 1px solid #ffffff45;
    overflow: hidden;
    height: fit-content;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile figure {
    position: relative;
    height: 150px;
    width: 150px;
    perspective: 1000px;
    margin: 0;
}

.show-contacts {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    box-shadow: inset 0px 2px 10px #f2d16d;
    color: #f2d16d;
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    border: 1px solid #ffffff45;
    font-size: .75em;
    transition: all 0.5s ease;
}

.show-contacts:hover {
    box-shadow: none;
}

.profile-img {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0);
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    border-radius: 30px;
}

.profile .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

.profile .profile-img.hidden {
    transform: rotateY(180deg);
}

.slider-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 35%;
}

.slider-controls .circle {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #979799;
    margin: 0 5px;
    cursor: pointer;
}

.slider-controls .circle.active {
    background-color: #f2d16d;
}

.info .name {
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.info .name p {
    font-size: 1.65em;
    font-weight: 500;
    text-align: center;
}

.info .name button {
    font-size: .75em;
    background-color: #ffffff16;
    border: none;
    color: #FAFAFA;
    width: 80%;
    padding: 5px 10px;
    border-radius: 10px;
}

.contact-info {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    transition: all 1s ease;
}

.contact-info-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2d16d;
    height: 10px;
    width: 10px;
    font-size: 1.25em;
}

.contact-info-row .contact-icons {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #1e1e1f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset #121212 2px 2px 2px;
    transition: all 0.3s ease;
}

.contact-info-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
}

.contact-info-col p {
    color: #979799;
    font-size: .75em;
}

.contact-info-col a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: .8em;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.socials a i {
    font-size: 1em;
    transition: all 0.3s ease;
    color: #f2d16d;
}

.socials a i:hover {
    color: #FAFAFA;
}

hr {
    width: 100%;
    height: 0.1em;
    border: 1px solid #ffffff1a;
    margin: 15px 0;
}

.all-details {
    position: absolute;
    width: 57vw;
    left: 32%;
    background-color: #1e1e1f;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    outline: 1px solid #ffffff45;
    transition: all 1.1s ease;
}

.all-details .all-details-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 35px;
    background-color: #282829;
    border-radius: 0 20px 0 20px;
    outline: 1px solid #ffffff45;
    z-index: 10;
}

.all-details .all-details-nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.all-details .all-details-nav ul li {
    list-style: none;
    cursor: pointer;
    color: #D6D6D6;
    transition: all 0.3s ease-in-out;
    font-size: .75em;
    font-weight: 500;
}

.all-details-nav ul li.active,
.bottom-nav ul li.active {
    color: #ffdb70;
}

.all-details .all-details-nav ul li:hover {
    color: #d6d6d6b3;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 1234;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 90%;
    color: #D6D6D6;
    padding: 20px;
    background-color: #2828294b;
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
    outline: 1px solid #ffffff45;
    display: none;
}

.bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.bottom-nav ul li {
    list-style: none;
    font-size: 10em;
}

main h1 {
    color: #f7f7f7;
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    text-align: left;
    position: relative;
}

main h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 7%;
    height: .2em;
    background: linear-gradient(to right, #f2d16d, #ffbb5c);
    border-radius: 10px;
}

main div {
    margin: 40px 0;
}

main div h2 {
    color: #f7f7f7;
    font-size: 1.5em;
    font-weight: 600;
}

.intro {
    margin-top: 50px;
}

.intro p {
    color: #CCC;
    line-height: 30px;
    font-size: .95em;
}

.services {
    width: 100%;
    margin: 0;
}

.service-cards {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.s-card {
    padding: 15px;
    margin: 0;
    width: 48%;
    height: 130px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #252526;
    border-radius: 20px;
    box-shadow: inset #121212 2px 2px 2px;
    cursor: pointer;
}

.s-card img {
    margin-right: 10px;
    height: 50px;
}

.s-card-content {
    display: flex;
    flex-direction: column;
    color: #FAFAFA;
}

.s-card-content h5 {
    font-size: 1em;
    font-weight: 600;
}

.s-card-content p {
    color: #D6D6D6;
    font-size: .8em;
}

.resume-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.branch {
    display: flex;
    flex-direction: column;
}

.branch-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.branch-heading p {
    width: 50px;
    height: 50px;
    background-color: #252526;
    border-radius: 10px;
    box-shadow: inset #121212 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.branch-heading p::before {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 240px;
    bottom: -240px;
    background-color: #333;
}

.branch-heading p i {
    color: #f2d16d;
    font-size: 1.25em;
}

.branch ul {
    margin-top: 50px;
}

.branch ul li {
    margin-left: 70px;
    list-style-type: none;
    position: relative;
}

.branch ul li::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    left: -53px;
    top: 5px;
}

.branch ul li::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c2a757;
    left: -50px;
    top: 9px;
}

.branch ul li:not(:first-child) {
    margin-top: 40px;
}

.branch ul li p {
    color: #FAFAFA;
    font-weight: 600;
}

.branch ul li b {
    color: #c2a757;
    font-weight: 500;
    margin-top: 20px;
}

.experience-heading p::before {
    height: 70px;
    bottom: -70px;
}

.skills-card {
    background-color: #252526;
    border-radius: 20px;
    box-shadow: inset #121212 2px 2px 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
}

.skill {
    margin: 0;
}

.skill:not(:first-child) {
    margin-top: 30px;
}

.skill-name {
    margin: 0;
    display: flex;
}

.skill-name p {
    margin-right: 10px;
    color: #FAFAFA;
    font-weight: 500;
}

.skill-name b {
    color: #979799;
    font-weight: 300;
}

.range {
    margin: 0;
    margin-top: 10px;
    content: '';
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #383838;
    position: relative;
}

.range::after {
    content: '';
    position: absolute;
    height: 7px;
    width: 90%;
    border-radius: 10px;
    background: linear-gradient(to right, #f2d16d, #ffbb5c);
}

.projects-nav {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.select-category {
    width: 100%;
    height: 50px;
    padding: 10px;
    color: #D6D6D6;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #252526;
    box-shadow: inset #121212 2px 2px 2px;
    display: none;
}

.projects-nav li {
    list-style: none;
    color: #d6d6d6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.projects-nav li.active {
    color: #ffdb70;
}

.projects-nav li:hover {
    color: #979799;
}

.projects-section {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.projects-section a {
    width: 30%;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.project-card {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.project-card:hover {
    background-color: #383838;
}

.project-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    scale: 1;
    transition: all 0.5s ease-in-out;
}

.view-icon {
    position: absolute;
    top: 70px;
    left: 100px;
    margin: 0;
    background-color: #383838;
    height: 50px;
    width: 50px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.view-icon i {
    color: #ffdb70;
}

.project-card p {
    color: #FAFAFA;
    margin-top: 10px;
    font-weight: 500;
    font-size: .85em;
}

.project-card b {
    color: #979799;
    font-weight: 400;
    font-size: .85em;
}

a:hover .view-icon {
    display: flex;
    transition: all 0.5s ease-in-out;
    height: 50px;
    width: 50px;
    top: 90px;
    opacity: 1;
}

a:hover .project-card img {
    filter: grayscale(1);
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact iframe {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    filter: grayscale(1);
    scale: 1;
    transition: all 0.5s ease-in-out;
}

.contact iframe:hover {
    filter: grayscale(0);
    scale: 1.03;
    transition: all 0.5s ease-in-out;
}

.contact-form {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

label {
    width: 48%;
    display: flex;
}

.contact-form input {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #252526;
    box-shadow: inset #121212 2px 2px 2px;
    border: none;
    outline: none;
    color: #f2d16d;
    width: 100%;
}

.contact-form input::placeholder {
    color: #979799;
    font-weight: 400;
    font-size: 1.1em;
}

.contact-form textarea {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #252526;
    box-shadow: inset #121212 2px 2px 2px;
    border: none;
    outline: none;
    color: #f2d16d;
    width: 100%;
    resize: none;
    height: 150px;
}

.contact-form textarea:focus {
    outline: 1px solid #ffffff45;
}

.contact-form textarea::placeholder {
    color: #979799;
    font-weight: 400;
    font-size: 1.1em;
}

form button {
    margin-top: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #252526;
    box-shadow: inset #121212 2px 2px 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: #f2d16d;
    outline: none;
    border: none;
    cursor: pointer;
}

form button i {
    font-size: 1.5em;
    color: #f2d16d;
}

input,
textarea {
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
}

input.invalid,
textarea.invalid {
    outline: 2px solid #f36b6b;
}

input.valid,
textarea.valid {
    outline: 2px solid #f2d16d;
}

.gallery {
    max-width: 1200px;
}

.gallery-container {
    column-count: 3;
    column-gap: 20px;
}

.gallery-item {
    break-inside: avoid;
}

.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.fullscreen-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.fullscreen-preview img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.fullscreen-preview button {
    color: #f2d16d;
}

.preview-button {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#close-preview {
    top: 20px;
    right: 20px;

}

#prev-image {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#next-image {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1000px) {
    .info {
        position: absolute;
        width: 80%;
        margin-bottom: 20px;
    }

    .profile {
        flex-direction: row;
    }

    .profile figure {
        width: 200px;
    }

    .profile-img {
        width: 200px;
        height: 100%;
    }

    .profile-img {
        height: 100%;
        width: 100%;
    }

    .info .name {
        align-items: start;
    }

    .info .name button {
        width: 30%;
    }

    .show-contacts {
        display: block;
    }

    .contact-info {
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 0px;
    }

    .contact-info-row {
        width: 40%;
    }

    .contact-info-col {
        width: 90%;
    }

    .socials {
        justify-content: start;
        padding-left: 10px;
    }

    .socials a i {
        font-size: 1.5em;
    }

    .all-details {
        left: 10%;
        top: 250px;
        width: 80%;
    }

    .s-card {
        width: 100%;
    }

    .projects-section a {
        width: 45%;
    }

    .view-icon {
        left: 140px;
    }

    label {
        width: 100%;
    }

    .gallery-container {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .all-details-nav {
        display: none;
    }

    .bottom-nav {
        display: block;
    }

    .bottom-nav ul li {
        font-size: .5em;
    }

    .contact-info {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .contact-info-row {
        width: 100%;
    }

    .profile figure {
        height: 100px;
        width: 100px;
        margin-right: 50px;
    }

    .profile-img {
        height: 100px;
        width: 100px;
    }

    .profile-img img {
        height: 100px;
        width: 100px;
    }

    .slider-controls {
        display: none;
    }

    .info .name p {
        width: 100%;
        font-size: 1em;
    }

    .info .name button {
        width: 100%;
    }

    .profile {
        padding-top: 10px;
    }

    .intro p {
        font-size: .75em;
        line-height: 20px;
    }

    main h1 {
        font-size: 1.5em;
    }

    main h1::after {
        width: 25%;
    }

    .s-card img {
        margin: 0;
        margin-bottom: 10px;
    }

    .s-card {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .s-card-content {
        padding: 0;
        margin: 0;
    }

    .s-card-content h5 {
        color: #D6D6D6;
        font-size: 1em;
        text-align: center;
    }

    .s-card-content p {
        color: #D6D6D6;
        font-size: .75em;
        text-align: center;
    }

    .projects-nav {
        display: none;
    }

    .select-category {
        display: block;
        margin-top: 40px;
    }

    .projects-section a {
        width: 100%;
    }

    .view-icon {
        left: 240px;
    }

    .contact iframe {
        height: 200px;
    }

    .gallery-container {
        column-count: 2;
    }
}

@media (min-width: 1001px) {
    .contact-info {
        max-height: none;
    }

    .show-contacts {
        display: none;
    }
}

::-webkit-scrollbar {
    width: .7em;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 1rem;
    border: 1px solid #ffffff45;
}